div.introImg
	div.introOuterText
		div.heading We are changing the way people read and learn.
	div.subOuterText
		div.subheading Empower your E-Learning platform with the one stop solution for sharing printable media and let your users unlock the ultimate experience in learning online.
div.container
	div(style = "margin-top:10px;")
	div(ng-include = "'intro'")
	div.hrD
	div(style = "margin-top:10px;padding-left:10px")
		div.intro
		div.introText
			P.featureHeading All that you ever dreamt of in an E-Book is here!
			P.featureHighlight Annotations, Sharing, Notifications, Upload, Profiling and much more!
			p.iText  Try it to believe it and be fast before the monster eats up your books.