
script(type = "text/javascript" src = "/js/jquery-1.11.1.js")
script(type = "text/javascript" src = "/js/angular.js")
script(type = "text/javascript" src = "/js/angular-ui-router.js")
script(type = "text/javascript" src = "/js/ui-bootstrap.js")
script(type = "text/javascript" src = "/js/settings.js")
script(type = "text/javascript" src = "/js/app/controllers.js")
script(type = "text/javascript" src = "/js/app/routes.js")
script(type = "text/javascript" src = "/js/app/directives.js")
script(type = "text/javascript" src = "/js/app/factory.js")

script(src="http://code.jquery.com/jquery-1.7.1.min.js")
script(src="/notifications/gritter/js/jquery.gritter.min.js")
script(src="http://js.pusher.com/2.2/pusher.min.js")
script(type = "text/javascript" src = "/notifications/PusherNotifier.js")


